* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  box-sizing: border-box;
}

:root {
  --royalblue: #4169e1;
  --white: #ddd;
  --black: #222;
}

body {
  background-color: var(--black);
}

img {
  max-width: 60px;
  margin-right: 20px;
  border: 2px solid var(--royalblue);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.titulo {
  text-align: center;
  margin: 40px;
}

.container {
  margin: auto;
  max-width: 800px;
  min-height: 600px;
  border: 5px solid var(--royalblue);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.menu {
  display: flex;
  border-bottom: 5px solid var(--royalblue);
}

.menu li {
  flex: 1;
  padding: 50px 0px;
  text-align: center;
  list-style: none;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  border: 2px solid var(--royalblue);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.conteudo {
  display: flex;
  flex-direction: column;
}

.conteudo h2 {
  padding: 50px;
  text-align: center;
}

.conteudo p, small {
  padding: 0px 50px;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.conteudo small {
  line-height: 1.6rem;
  font-size: 0.9rem;
}

.conteudo div {
  padding: 20px 0px;
}

.conteudo li {
  margin: 30px 60px;
  display: flex;
  align-items: center;
}

.conteudo a {
  flex: 1;
  text-decoration: none;
}

.conteudo form {
  margin: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 5px solid var(--royalblue);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.formulario label {
  margin: 15px 60px;
}

.formulario input, textarea {
  background-color: #222;
  border: 2px solid var(--white);
  border-radius: 3%;
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
}

.formulario .mensagem {
  display: flex;
  flex-direction: column;
}

.mensagem span {
  margin-bottom: 2px;
}

.mensagem .botao-enviar {
  margin-top: 5px;
  background-color: var(--royalblue);
  cursor: pointer;
  padding: 2px;
}